{% comment %} {% extends 'base.html' %}
{% block content %}
{% endblock %} 

- navibar 
{% endcomment %}

<div class="container">
        <div class="contact-info">
            <h2>Contact information</h2>
            <p><strong>Full name:</strong> Bill Gates</p>
            <p><strong>Email:</strong> Gates55@gmail.com</p>
            <p><strong>Phone number:</strong> 591234-8723</p>
            <p><strong>Address:</strong> California Lane 145, 1028</p>
            <p><strong>Social security number:</strong> 25039-****</p>
            <p><strong>Date of birth:</strong> 14 March 1997</p>
            <p><strong>Country:</strong> Sweden</p>
        </div>
        <div class="other-info">
            <div class="recommendation box">
                <h2>Recommendation</h2>
            </div>
            <div class="education box">
                <h2>Education</h2>
            </div>
            <div class="experience box">
                <h2>Experience</h2>
            </div>
        </div>
    </div> 
