<!-- experience_form.html -->

{% extends 'base.html' %}
{% block title %}Add Experience{% endblock %}
{% block content %}

<body>
    <form action="{% url 'add_experience' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Experience Information</legend>
            <label for="place_of_work">Place of Work:</label>
            <input type="text" id="place_of_work" name="place_of_work" required><br>
    
            <label for="role">Role:</label>
            <input type="text" id="role" name="role" required><br>
    
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required><br>
    
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required><br>
        </fieldset>
        <div class="btn">
            <button type="submit">Add Experience</button>
        </div>
    </form>
</body>

{% endblock %}
