{% extends 'base.html' %} {% load static %} {% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<div class="container">
  <h1>Welcome back!</h1>
  <div class="form-section">
    <h2>Login and reconnect with your career goals.</h2>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="id_username">Username</label>
        <input type="text" id="id_username" name="username" placeholder="Enter your username">
      </div>
      <div>
        <label for="id_password">Password</label>
        <input type="password" id="id_password" name="password" placeholder="Enter your password">
      </div>
      <div class="show-password-container">
        <div class="Checkbox">
          <label for="show-password">Show password</label>
        </div>
        <div class="show_password">
          <input type="checkbox" id="show-password">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
      <p class="sign-up">
        Don't have an account yet? <br /><a href="{% url 'user_register' %}">Sign up</a>
      </p>
    </form>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('show-password').addEventListener('change', function() {
            var password = document.getElementById('id_password');
            if (password.type === 'password') {
                password.type = 'text';
            } else {
                password.type = 'password';
            }
        });
    });
</script>

{% endblock %}
