{% extends 'base.html' %} {% load static %} {% block title %}Login{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<div class="container">
  <h1>Welcome back!</h1>
  <div class="who">
    <button class="u">
      <p>User</p>
    </button>
    <a href="{% url 'login' %}">
      <button class="c">
        <p>Company</p>
      </button>
    </a>
  </div>
  <div class="form-section">
    <h2>Login and reconnect with your career goals.</h2>

    <form action="{% url 'login' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Log in</button>
      <p class="sign-up">
        Don't have an account yet? <br /><a href="{% url 'user_register' %}"
          >Sign up</a
        >
      </p>
    </form>
  </div>
</div>

{% endblock %}
