{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
  <div class="info-box">
    <h1>Contact information</h1>
    <div class="contact-container">
      <div class="contact-info">
        <img class="profile-picture" src="{{ profile.picture }}" alt="Profile Picture" width="75" height="75"><br>
        
        <div class="name">
          <label for="first_name"><strong>First Name:</strong></label>
          <p id="first_name">{{ user.first_name }}</p>
          
          <label for="last_name"><strong>Last Name:</strong></label>
          <p id="last_name">{{ user.last_name }}</p>
        </div>

        <label for="email"><strong>Email:</strong></label>
        <p id="email">{{ user.email}}</p>
        
        <label for="phone"><strong>Phone Number:</strong></label>
        <p id="phone">{{ profile.phone }}</p>
        
        <label for="street_name"><strong>Street Name:</strong></label>
        <p id="street_name">{{ profile.street_name }}</p>

        <label for="house_number"><strong>House Number:</strong></label>
        <p id="house_number">{{ profile.house_number }}</p>
        
        <label for="ssn"><strong>Social Security Number:</strong></label>
        <p id="ssn">{{ user.username }}</p>
        
        <label for="dob"><strong>Date of Birth:</strong></label>
        <p id="dob">{{ profile.date_of_birth|date:'d-m-Y' }}</p>
        
        <label for="country"><strong>Country:</strong></label>
        <p id="country">{{ profile.country.country }}</p>

        <label for="postcode"><strong>Post Code:</strong></label>
        <p id="postcode">{{ profile.location.postcode }}</p>

        <label for="city"><strong>City:</strong></label>
        <p id="city">{{ profile.location.city }}</p>
        <div class="edit-profile-link">
          <a href="{% url 'user_edit' %}">
            <img src="static/images/svg/edit.svg" alt="Edit Profile Icon" width="24" height="24">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="other-box">
    <div class="rec-box">
      <h1>Recommendation</h1>
      <div class="rec-lists">
        {% for recommendation in recommendations %}
          <div class="rec-list">
            <div>
              <label for="name"><strong>Name:</strong></label>
              <p id="name">{{ recommendation.name }}</p>
      
              <label for="email"><strong>Email Address:</strong></label>
              <p id="email">{{ recommendation.email }}</p>
      
              <label for="contact"><strong>May Be Contacted:</strong></label>
              <p id="contact">{% if recommendation.may_be_contacted %}Yes{% endif %}</p>
            </div>
      
            <div>
              <label for="phone"><strong>Phone Number:</strong></label>
              <p id="phone">{{ recommendation.phone_number }}</p>
      
              <label for="role"><strong>Role:</strong></label>
              <p id="role">{{ recommendation.role }}</p>
      
              <form action="{% url 'delete_recommendation' recommendation.rid %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="xp-box">
      <h1>Experience</h1>
      <div class="xp-lists">
        {% for experience in experiences %}
        <div class="xp-list">
          <div class ="xp-work">
            <label for="place_of_work"><strong>Place of Work:</strong></label>
            <p id="place_of_work">{{ experience.place_of_work }}</p>

            <label for="role{{ experience.eid }}"><strong>Role:</strong></label>
            <p id="role">{{ experience.role }}</p>
          </div>
          <div class="xp-dates">
            <label for="start_date{{ experience.eid }}"><strong>Start Date:</strong></label>
            <p id="start_date">{{ experience.start_date|date:'Y-m-d' }}</p>

            <label for="end_date{{ experience.eid }}"><strong>End Date:</strong></label>
            <p id="end_date">{{ experience.end_date|date:'Y-m-d' }}</p>

            <form action="{% url 'delete_experience' experience.eid %}" method="post">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>  
    </div>
    <a href="{% url 'experience' %}">Add Experience</a>
    <a href="{% url 'recommendation' %}">Add Recommendation</a>
  </div>
</div>

{% endblock %}