<body>
    <h1>Your Dream Job Awaits: Sign Up Now!</h1>
    <form action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <h2>Basic Information:</h2>
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="ssn">Social Security Number:</label>
        <input type="text" id="ssn" name="ssn" required><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="date_of_birth">Date of Birth:</label>
        <input type="date" id="date_of_birth" name="date_of_birth" required><br>
        
        <label for="country">Country:</label>
        <select id="country" name="country" required>
            <option value="">Select Country</option>
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.country }}</option>
            {% endfor %}
        </select><br>

        <h2>Contact Information:</h2>
        
        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" required><br>

        <label for="street_name">Street Name:</label>
        <input type="text" id="street_name" name="street_name" required><br>

        <label for="house_number">House Number:</label>
        <input type="text" id="house_number" name="house_number" required><br>

        <label for="postcode">Post Code:</label>
        <select id="postcode" name="postcode" required>
            <option value="">Select Post Code</option>
            {% for postcode in postcodes %}
                <option value="{{ postcode.id }}">{{ postcode.postcode }}</option>
            {% endfor %}
        </select><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <h2>Profile Picture:</h2>

        <label for="picture">Profile Picture:</label>
        <input type="file" id="picture" name="picture" accept="image/*" required><br>

        <button type="submit">Sign Up:</button><br>
    </form>

        <body>Already have an account?</body><br>
        <a href="{% url 'login' %}">Log In</a>
  </body>