footer {
    color: #F0E5D8;
    padding: 20px 0;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(0, 0, 0, 0.1); */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
    font-size: 0.875em; /* 14px if base is 16px */
    line-height: 1.5; /* Increased line height for better readability */
}