.job_container, .job_description {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 6%;
  margin-bottom: 15%;
  background-color: #F0E5D8;
  border-width: 0.1rem;
  border-style: solid;
  border-color: #77654B;
  border-radius: 1rem;
  padding: 1rem;
  width: 30rem;
  justify-content: space-between;
}

.job_description {
  text-align: center;
  display: inline-block;
  height: fit-content;
}

.job_description p {
  color: #77654B;
  margin: 0;
  font-size: 1.1rem;
}

.job_description label {
  display: inline-block;
  color: #77654B;
  margin-bottom: 0.4rem;
  font-size: 1.55rem;
  font-weight: 400;
}

.job_box {
  display: flex;
  justify-content: space-between;
}

.job_info > div {
  margin: 0 11%;
}

.job_info {
  display: flex;
  justify-content: space-between;
  margin: 8% 2% 8% 2%;
  width: 100%;
}

.job_container p,
.job_container label {
  color: #77654B;
  margin: 0;
}

.job_container p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.job_container label {
  font-size: 1.55rem;
  font-weight: 400;
}


.logo {
  display: flex;
  justify-content: center;
  margin:0;
  margin-top: 3%;
}

.apply {
  display: flex;
  justify-content: center;
  margin:0;
  margin-bottom: 6%;
}

.apply button {
  background-color: #77654B;
  color: #F0E5D8;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 1.55rem;
}

a {
  color: #77654B;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}


h3{
  color: #77654B;
  margin: 0;
}