.container {
    display: flex;
    justify-content: space-between; /* Adjust spacing between containers */
    margin: 0 auto;
    width: 60%; /* Adjust container width as needed */
}

.job-container, .company-container {
    background-color: #F0E5D8;
    border-width: 0.1rem;
    border-style: solid;
    border-color: #77654B;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1; /* Make both containers flexible */
    margin-right: 1rem; /* Adjust spacing between containers */
}

.apply {
    text-align: center; /* Align the content (button) in the center horizontally */
    margin-top: 20px; /* Adjust the top margin as needed */
}

.apply button {
    background-color: #edeeed; /* Green background */
    color: black; /* White text color */
    padding: 10px 20px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
}

.apply button:hover {
    background-color: #45a049; /* Darker green color on hover */
}
.company{
    padding-top: 0%;
}

p, h2{
    text-decoration: none;
    color: #77654B;
}

h2{
    text-align: center;
}

#name {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.2rem; /* Adjust margin-bottom to bring #val closer */
    margin-right: 0.5rem; /* Adjust margin-right to create space between #name and #val */
}

#val {
    color: #77654B;
    margin: 0;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    max-width: 50%;
    max-height: 50%;
    border-radius: 15;
}