.header {
    padding-top: 10px;
    display: flex;
    align-items: center;
    color: #F0E5D8;
    margin-left: 150px;
    margin-right: 150px ;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header h1 a {
    color: #F0E5D8;
    text-decoration: none;
}

.header nav {
    display: flex;
    width: 100%;
}

.header nav .info {
    justify-content: center;
    flex: 1;
}

.header nav .info a {
    text-decoration: none;
}

/* .header nav .profile {
} */

/* .header nav .profile a {
    text-decoration: none;
    margin-left: 30px;
}
 */

.header nav .info, .header nav .profile {
    display: flex;
    align-items: center;
}

.header nav a {
    color: #F0E5D8;
    margin: 0 10px;
    text-decoration: none;
}

/* .header nav .profile a {
    margin-left: 20px;
} */

/* .header nav a:hover {
    color: #77654B;
} */

.header a:hover {
    color: #77654B;
}

/* @media (max-width: 0px) {
} 
*/

.dropdown {
    position: relative;
    display: inline-block;
    color: #77654B;
    background-size: cover;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-image: url('../svg/caret.svg'); 
    background-size: cover;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.header nav .dropdown-content a {
    color: #77654B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header nav .dropdown-content a:hover {
    color: black; 
    background-color: #F0E5D8; 
}

input[type="checkbox"] {
    display: none; 
}

input[type="checkbox"]:checked + label.dropbtn {
    background-image: url('../svg/caret_up.svg');
    display: block;
}

input[type="checkbox"]:checked + label.dropbtn + .dropdown-content {
    display: block;
}

input[type="checkbox"] + label.dropbtn::before {
    content: '';
    display: none;
}

.dropdown-content a,
.logout-button {
    background-color: #77654B;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 100%;
    text-align: center; 
    box-sizing: border-box;
    cursor: pointer;
}

.dropdown-content a:hover,
.logout-button:hover {
    color: #F0E5D8; 
    background-color: #F0E5D8; 
}

/* .dropdown-content li {
    padding: 0;
    margin: 0;
    list-style-type: none; 
}  */

.dropdown-content,
.dropdown-content a,
.dropdown-content form,
.logout-button {
    /* display: block; */
    text-align: center;
    width: auto;
    background-color: #F0E5D8;
    color: #77654B;
    /* padding: 12px 16px; */
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
}

.dropdown-content a:hover,
.logout-button:hover {
    color: black;
    background-color: #F0E5D8;
}

.dropdown-content form {
    width: 100%;
    margin: 0;
    padding-left: 20px;
}

.logout-button {
    font-size: 12px;
}
