.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #F0E5D8;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header h1 a {
    color: #F0E5D8;
    text-decoration: none;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    font-size: 14px;
    text-decoration: none;
    color: #F0E5D8;
}

.header nav a:hover {
    color: #77654B;
}

.header a:hover {
    color: #77654B;
}