.header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #F0E5D8;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.header h1 a {
    color: #F0E5D8;
    text-decoration: none;
}

.header nav {
    display: flex;
    width: 100%;
}

.header nav .info {
    justify-content: center;
    flex: 1;
}

.header nav .info a {
    text-decoration: none;
}

/* .header nav .profile {
} */

/* .header nav .profile a {
    text-decoration: none;
    margin-left: 30px;
}
 */

.header nav .info, .header nav .profile {
    display: flex;
    align-items: center;
}

.header nav a {
    color: #F0E5D8;
    margin: 0 10px;
}

.header nav .profile a {
    margin-left: 20px;
}

/* .header nav a:hover {
    color: #77654B;
} */

.header a:hover {
    color: #77654B;
}

/* @media (max-width: 0px) {
} 
*/

.dropdown {
    position: relative;
    display: inline-block;
    color: #77654B;
    height: 24px;
    width: 24px;
    background-size: cover;
}

.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url('../svg/caret.svg'); /* Added background image for initial state */
    background-size: cover;
    display: block;
    width: 28px; /* Ensure the label size matches the icon size */
    height: 24px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown-content a {
    color: pink;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

input[type="checkbox"] {
    display: none; 
}

/* Adjust the background image based on the checkbox state */
input[type="checkbox"]:checked + label.dropbtn {
    background-image: url('../svg/caret_up.svg');
    /* background-image: url('/images/caret_up.svg');  */
}

input[type="checkbox"]:checked + label.dropbtn + .dropdown-content {
    display: block;
}

/* Remove default styling for checkbox */
input[type="checkbox"] + label.dropbtn::before {
    content: '';
    display: none;
}

.logout-button {
    color: #F0E5D8;
}
