.welcome {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.welcome h1 {
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    width: 50%;
}

form {
    width: 100%;
}

.form-section {
    background-color: #F0E5D8;
    border: 0.1rem solid #77654B;
    border-radius: 1rem;
    padding: 1rem 4rem 0 1rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.2rem;
}

.form-group label {
    display: block;
    color: #77654B;
    font-size: 1.1rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
    border: 0.1rem solid #77654B;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    color: #333333;
    margin-bottom: 1.2rem;
}

button.btn.btn-primary {
    background-color: #77654B;
    color: #F0E5D8;
    border: none;
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 15rem;
    margin: 0 auto;
    display: block;
}

button.btn.btn-primary:hover {
    background-color: #594d3c;
}

button.btn.btn-primary:active {
    background-color: #42392e;
}

.sign-up {
    margin-top: 1.5rem;
    color: #F0E5D8;
    font-size: 1rem;
    text-align: center;
}

.sign-up a {
    color: #F0E5D8;
    text-decoration: underline;
}

.sign-up a:hover {
    color: #594d3c;
}

.sign-up a:active {
    color: #42392e;
}

@media (max-width: 768px) {
    .container {
        margin: 5% 1rem;
        width: calc(100% - 2rem);
    }

    .form-section {
        padding: 1rem;
    }
}