.container {
    margin: 0;
    margin-left: 3%;
    margin-top: 6%;
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cover-letter {
    background-color: #F0E5D8;
    border: 1px solid #77654B;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .cover-letter p {
    color: #77654B;
    font-size: 1.4rem;
    margin: 0;
  }
  
  .rec-list,
  .recommendations {
    background-color: #F0E5D8;
    border: 1px solid #77654B;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .rec-list div,
  .recommendations p {
    color: #77654B;
    font-size: 1.4rem;
    margin: 0.5rem 0;
  }
  
  .rec-list label,
  .recommendations label {
    font-size: 1.1rem;
  }
  
  .rec-list div {
    display: flex;
    justify-content: space-between;
  }
  
  form.delete-rec {
    position: relative;
    display: inline-block;
  }
  
  .delete_button {
    background: url('../svg/delete.svg');
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-size: cover;
  }
  
  form.delete-rec .delete_button {
    position: absolute;
    top: 0;
    right: 0;
  }
  