{% extends 'base.html' %}
{% block content %}
{% endblock %}

<body>
    {% include register.html %}
    <div class="Contact_Info">
        <fieldset>
            <legend>Contact Information</legend>
                <label for="name">Name: </label>
                <input type="text" name="" id="info"><br>
                <label for="street">Street Name:</label>
                <input type="text" name="street" id="info"><br>
                <label for="House_number">House number: </label>
                <input type="text" name="house" id="info"><br>
                <label for="city">City:</label>
                <input type="text" name="country" id="info"><br>
                <label for="Postal_code">Postal Code: </label>
                <input type="text" name="postal" id="info"><br>
        </fieldset>
    </div>
    <label for="cover_letter">Cover Letter:</label>
    <div class="cover_letter">
            <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="country">Country:</label>
        <select id="country" name="country" required>
            <option value="">Select Country</option>
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.country }}</option>
            {% endfor %}
        </select><br>
    </div>
    
</body>


<!--Applying for a job - should be a multi step phase
○ Contact information
■ Full name
■ Street name
■ House number
■ City
■ Country (displayed as a <select> HTML element)
■ Postal code
○ Cover letter
■ A text section to write a cover letter
○ Experiences
■ A list of experiences related to previous jobs
● Place of work
● Role
● Start date
● End date
○ Recommendations
■ A list of contacts which can be contacted for recommendations
● Name
● Email address
● Phone number
● Checkbox whether they may be contacted or not
● Role, e.g. Manager at Reykjavik Seafood-->