{% extends 'base.html' %}
{% load static %}
{% block title %}Application{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_app.css' %}">

<div class="header"><h1>Your Applications</h1></div>
<div class="applications-container">
  {% for application in applications %}
  <a href="{% url 'job_info' %}?job_jid={{ application.job.jid }}" class="application-card-link">
  <div class="application">
    <div class="application-info">
      <img src="{{ application.job.company.logo }}" alt="{{ application.job.company.user.first_name }}" class="company-logo">
      <h3 class="job-title">{{ application.job.title }}</h3>
      <div class="details">
        <div class="detail">
          <p>-{{ application.job.company.user.first_name }}-</p>
        </div>
        <div class="detail">
          <p>{{ application.date_applied }}</p>
        </div>
      </div>
      <div class="application-status-type">
        <p class="application-status">{{ application.status.status }}</p>
        <p class="application-type">{{ application.job.jobtype.type }}</p>
      </div>
    </div>
  </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
