{% extends 'base.html' %}

{% block title %}Application{% endblock %}

{% block content %}

<div class="applications">
    {% for application in applications %}
    <fieldset>
      <img src="{{ application.job.company.logo }}" alt="Company Logo" width="100" height="50">
      <legend>Application for {{ application.job.title }}</legend>
      <p><span class="large-text">Job Title:</span> {{ application.job.title }}</p>
      <p><span class="large-text">Company: </span>{{ application.job.company.user.first_name }}</p>
      <p><span class="large-text">Application Date: </span> {{ application.date_applied }}</p>
      <p><span class="large-text">Status of Application: </span> {{ application.status.status }}</p>
      <p><span class="large-text">Job Type: </span> {{ application.job.jobtype.type }}</p>
    </fieldset>
    {% endfor %}
  </div>

{% endblock %}