{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/job_info.css' %}">

<div class="job_box">
    <div class="job_container">
        <div class="logo">
            <a href="{% url 'company_info' %}?company_id={{ company.user.id }}"><img src={{job.company.logo}} alt="Logo"></a>
        </div>
        <div class="job_info">
            <div class="job_1">
                <label id="name">Company</label>
                <p id="val">{{ job.company }}</p>
                <label id="name">Posted</label>
                <p id="val">{{ job.date_of_offering }}</p>
                <label id="name">Category</label>
                <p id="val">{{ job.category }}</p>
                <label id="name">Website</label>
                <p id="name"><a href="{{ job.company.website }}">{{ job.company.website }}</a></p>
            </div>
            <div class="job_2">
                <label id="name">Location</label>
                <p id="val">{{ job.location }}</p>
                <label id="name">Deadline</label>
                <p id="val">{{ job.due_date }}</p>
                <label id="name">Job Type</label>
                <p id="val">{{ job.jobtype.type }}</p>
                <label id="name">Start Date</label>
                <p id="val">{{ job.start_date }}</p>
            </div>
        </div>

        <div class="apply">
            {% if applied_date %}
                <h3>Already applied on {{applied_date}} </h3>
                <h3>Status {{status}}</h3>
            {% else %}
            <form action="{% url 'Application_Form' %}?job_jid={{ job.jid }}" method="post">
                {% csrf_token %}
                <button name="next_btn">Apply Now</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="job_description">
        <label id="title">{{ job.title }}</label>
        <p id="val">{{ job.description }}</p>
    </div>
</div>

{% endblock %}