{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/jobs.css' %}">
<body>
    <h1>Jobs You Might Like</h1>
    <div class="filter-container">
        <div class="filter-logo">
            <a href="#filter-options" id="filter-logo" class="filter-logo"></a>
        </div>
        <div id="filter-options" class="filter-options">
            <!-- Your filtering options content here -->
            <form action="{% url 'filter_job_offerings' %}" method="get">
                <div class="filter-section">
                    <label for="category ">Filter by Category</label>
                    <select name="category" id="category">
                        <option value="">None</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-section">
                    <label>Filter by Company</label>
                    <select name="company" id="company">
                        <option value="">None</option>
                        {% for company in companies %}
                            <option value="{{ company.user.first_name }}">{{ company.user.first_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="filter-section">
                    <label>Filter By Applied Jobs</label>
                    <input name="checkbox" type="checkbox" id="checkbox">
                </div>
                <div class="filter-section">
                    <label>Order By Dates</label>
                    <label for="order_by">Order by:</label>
                    <select name="order_by" id="order_by">
                        <option value="None">None</option>
                        <option value="date_offering">Date Of Offering</option>
                        <option value="due_date">Due Date</option>
                    </select>
                </div>
                <div class="filter-section">
                    <label>Search</label>
                    <input name="search_bar" type="text">
                </div>
                <button type="submit">Apply Filters</button>
            </form>
        </div>
    </div>  
    <div class="job-container">
    {% for job in jobs %}
        <div class="job">
            <a href="{% url 'job_info' %}?job_jid={{job.jid}}">
                <div class="image-container">
                    <img src="{{ job.company.logo }}">
                </div>
                <div class="text-container">
                    <p id="title">{{ job.title }}</p>
                    <p id="company">-{{ job.company.user.first_name }}-</p>
                    <!--<p>{{ job.start_date }}</p>-->
                    <p id="due_date">{{ job.due_date }}</p>
                    <div class="svg-container">
                        <div class="location">
                            <p>{{ job.location }}</p>
                        </div>
                        <div class="type">
                            <p>{{ job.jobtype.type }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</body>
<script>
    document.querySelector(".filter-logo").addEventListener("click", ()=> {
        let filterOptions = document.querySelector(".filter-options");
        if (filterOptions.style.display === "block") {
            filterOptions.style.display = "none";
        }
        else{
            filterOptions.style.display = 'block'
        }
    });
</script>
{% endblock %}
