{% extends 'base.html' %}
{% load static %}
{% block title %}Company Profile{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="comp_container">
    <div class="comp">
    <h2>Contact information</h2>
        <div class="comp_contact_info">
            <div class="cover">
                <img class="cover" src="{{ company.cover }}" alt="Company Cover"><br>
            </div>
            <div class="comp_info">
                <img class="logo" src="{{ company.logo }}" alt="Company Logo"><br>

                <label for="name">Company Name</label>
                <p id="name">{{ user.first_name }}</p>
                
                <label for="email">Email</label>
                <p id="email">{{ user.email}}</p>
                
                <label for="address">Address</label>
                <p id="address">{{ company.address }}</p>
                
                <label for="website">Website</label>
                <p id="website"><a href="{{ company.website }}" target="_blank">{{ company.website }}</a></p>

            </div>
        </div>
    </div>
    <div class="comp_desc">
    <h2>About us</h2>
        <div class="desc">
            <p id="desc">{{ company.description }}</p>
        </div>
    </div>
</div>

{% endblock %}