{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/companies.css' %}">
<h1>Companies</h1>
<div class="container">
    {% for company in companies %}
    <div class="company-container">
        <a href="{% url 'company_info' %}?company_id={{ company.user.id }}">
            <div class="image-container">
                <img src="{{ company.logo }}" class="logo" alt="Logo">
            </div>
            <div class="text-container">
                <p class="name">{{ company.user.first_name }}</p>
                <p class="address">{{ company.address }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
