{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/application.css' %}">
<body>
    <h1>Companies</h1>
    <div class="container">
        <div class="company-container">
            {% for company in companies %}
            <a href="{% url 'company_info' %}?company_id={{ company.user.id }}">
                <img src="{{ company.cover }}" width="100" height=""><br>
                <img src="{{ company.logo }}"  width="50" height="50"><br>
                <p>{{ company.user.first_name }}</p>
                <p>{{ company.address }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

{% endblock %}