{% comment %} {% extends 'base.html' %}
{% block content %}
{% endblock %} 

- navibar 
{% endcomment %}

<div class="job-info">
        <div class="company-logo">
            <img src="" alt="">
        </div>
        <div class="job-details">
            <ul>
                <li><strong>Company:</strong></li>
                <li><strong>Location:</strong></li>
                <li><strong>Posted:</strong></li>
                <li><strong>Deadline:</strong></li>
                <li><strong>Category:</strong></li>
                <li><strong>Job type:</strong></li>
            </ul>
            <button>Apply Now</button>
            <h2></h2>
            <p></p>
        </div>
    </div>