{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>Zavant {% if title %}| {{title}}{% endif %}</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
    <div id="unsupported-screen-size" class="unsupported-screen-size">
        <p>This website does not support screens of that sizes.</p>
    </div>

    <div id="navbar" class="navbar-container">
        {% include 'navbar.html' %}
    </div>

    <div id="content" class="content-container">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer" class="footer-container">
        {% include 'footer.html' %}
    </div>
</body>
</html>
