{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<body>
  <h1>Welcome to Zavant</h1>
  <p class="landing-description">
    Join thousands of people in finding their next career opportunity! Sign up
    now to begin your journey towards a fulfilling career path.
  </p>
  <!---<a href="application/application.html">Applications</a><br />--->
  <a href="application/user_applications.html">User Applications</a><br />
  <a href="user/edit.html">Edit Profile</a><br />
</body>

{% endblock %}
