<header class="header">
  <h1><a href="{% url 'home' %}">ZAVANT</a></h1>
  <nav>
    <div class="info">
      <a href="{% url 'jobs' %}">Jobs</a>
      <a href="{% url 'company_profile' %}">Workplace</a>
      <a href="">Why Zavant</a>
    </div>
    <div class="profile">
      {% if user.is_authenticated %}
      {% if not is_company %}
      <a href="{% url 'user_profile' %}"><img src="{{ photo }}" width="50" height="50"/></a>
      {% else %}
      <a href="{% url 'company_profile' %}"><img src="{{ photo }}" width="50" height="50"/></a>
      {% endif %}
        <div class="dropdown">
            <button class="dropbtn"></button>
            <div class="dropdown-content">
            {% if not is_company %}
                <a href="{% url 'user_profile' %}">My Profile</a>
                <a href="{% url 'User_Applications' %}">Application</a>
            {% else %}
               <a href="{% url 'company_profile' %}">My Profile</a>
               <a href="{% url 'post_job' %}">Application</a>
            {% endif %}
            <a href="{% url 'change_passsword' %}">Change Password</a>
            <form method="post" action="{% url 'user_logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Log Out</button>
            </form>
            </div>
        </div>
      </div>
      {% else %}
      <a href="{% url 'user_login' %}">Login</a>
      <a href="{% url 'company_login' %}">Company</a>
      {% endif %}
    </div>
  </nav>
</header>
